/* src/styles.css */

/* Define Color Palette */
:root {
    --dark-blue: #071952;
    --teal: #088395;
    --light-blue: #37b7c3;
    --light-gray: #ebf4f6;
  }
  
  /* Apply Calibri font and Color Palette */
  body {
    font-family: 'Calibri', sans-serif;
    background-color: var(--light-gray);
    color: var(--dark-blue);
  }
  
  header {
    background-color: var(--dark-blue);
    color: white;
  }
  
  button {
    background-color: var(--teal);
    color: white;
  }
  
  button:hover {
    background-color: var(--light-blue);
  }
  
  .table thead {
    background-color: var(--dark-blue);
    color: white;
  }
  